alembic==0.9.7
click==6.7
Flask==0.12.2
Flask-Admin==1.5.0
Flask-Login==0.4.1
Flask-Migrate==2.1.1
Flask-Moment==0.6.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
livereload==2.5.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
mkdocs==0.17.2
mysqlclient==1.3.12
python-dateutil==2.6.1
python-editor==1.0.3
PyYAML==3.12
selenium==3.9.0
six==1.11.0
splinter==0.7.7
SQLAlchemy==1.2.2
SQLAlchemy-Utils==0.32.21
tornado==4.5.3
Werkzeug==0.14.1
WTForms==2.1
