[development]
SAMO_ENV=
HOST=
DB_SERVER=
DB_NAME=samo
DB_USER=root
DB_PASS=
MAIL_SENDGRID_API_KEY=
MAIL_DEFAULT_SENDER=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
SECURITY_PASSWORD_SALT=

[dockertesting]
SAMO_ENV=
HOST=
DB_SERVER=
DB_NAME=
DB_USER=
DB_PASS=
MAIL_SENDGRID_API_KEY=
MAIL_DEFAULT_SENDER=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
SECURITY_PASSWORD_SALT=