[development]
SAMO_HOST=0.0.0.0
SAMO_PORT=5000
SAMO_DB_SERVER=127.0.0.1
SAMO_DB_TYPE=mysql
SAMO_DB_NAME=samo
SAMO_DB_USER=root
SAMO_DB_PASS=yourpasswordhere
SAMO_MAIL_SENDGRID_API_KEY=yourapikeyhere
SAMO_MAIL_DEFAULT_SENDER=yourdefaultemail@example.com
SAMO_CELERY_BROKER_URL=redis://127.0.0.1:6379
SAMO_CELERY_RESULT_BACKEND=redis://127.0.0.1:6379
SAMO_SECURITY_PASSWORD_SALT=arandomstring