<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="content" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <title>{% block title %}Home{% endblock %} </title>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('index')}}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_authenticated %}

                {% if current_user.roles | intersect(['Admin','Contributor']) %}

                <li class="nav-item"><a href="{{ url_for('blog.add') }} " class="nav-link">Add post</a></li>

                {% endif %}

                <li class="nav-item dropdown">


                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('auth.user', username=current_user.username) }} ">My
                            profile</a>


                        {% if current_user.roles | intersect(['Admin']) %}

                        <a class="dropdown-item" href="/admin">Administration</a>

                        {% endif %}


                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log out</a>
                    </div>
                </li>

                {% else %}
                <li class="nav-item"><a href="{{ url_for('auth.login') }}" class="nav-link">Log in</a></li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li class="nav-item"><a href="{{ url_for('auth.signup') }}" class="nav-link">Sign up</a></li>
                {% endif %}
                <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link">About</a></li>
            </ul>


        </div>


        {% block search %}

        {% from "form_macros.html" import render_field %}
        <form method=post action="{{ url_for('index') }}" class="form-inline my-2 my-lg-0">
            {{ render_field(postsearchform.search,class_="form-control mr-sm-2") }}
            {{ postsearchform.hidden_tag() }}
            <input type=submit value=Search class="btn btn-outline-success my-2 my-sm-0">
        </form>
        {% endblock %}
    </nav>
    <br>
</header>

<div class="container">


    <div class="row">
        <div class="col-md-8">
            <article class="flashes">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for message in messages %}

                <p class="{{'alert alert-info' if message[0]=='message' else 'alert alert-'+message[0]}}">{{ message[1]
                    }}</p>

                {% endfor %}
                {% endif %}
                {% endwith %}
            </article>
        </div>

    </div>


    <div class="row">


        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>

        <div class="col-md-1">

        </div>

        {% block sidebar %}

        <div class="col-md-3 sidebar">
            {% for t in tag_stats %}

            <ul class="list-group">

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('blog.tag', name=t[0]) }}">{{ t[0] }}</a>
                    <span class="badge badge-primary badge-pill">{{t [1] }}</span>
                </li>
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#"><i
                        class="fa fa-github" style="font-size:48px;color:gray"
                        aria-hidden="true"></i></a></li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#"><i
                        class="fa fa-linkedin-square" style="font-size:48px;color:gray"
                        aria-hidden="true"></i></a></li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#"><i
                        class="fa fa-twitter" style="font-size:48px;color:gray"
                        aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    {% endblock %}

</div>

<div>
    <footer>

    </footer>
</div>
{% block scripts %}

{{ moment.include_moment() }}

{% endblock %}

</body>
</html>
