{% extends "base.html" %}


{% block greeting %}
<article>
    <header>
        <h1>Welcome!</h1>
        <p>This is a blog.</p>
    </header>
</article>

{% endblock %}

{% block content %}

{% if not posts.items %}
<h1> No entries. </h1>
{% endif %}

{% with posts = posts, short=True, paginated = True %}


{% include "blog/post_list.html" %}

{% endwith %}


<div>

    <nav aria-label="...">
        <ul class="pagination">

            {% if posts.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('index', page=posts.prev_num) }}">< Newer
                posts</a></li>
            {% else %}{% endif %}

            {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('index', page=posts.next_num) }}">Older posts
                > </a></li>
            {% else %}{% endif %}
        </ul>
    </nav>


</div>

{% endblock %}
