{% from "form_macros.html" import render_field %}
{% if comments: %}

{% if post.comments %}
<div>
    <ul class="list-group" id='comments'>
        <li class="list-group-item clearfix heading">
            <h4>Comments</h4>
        </li>
        {% for t in post.comments %}
        <li class="list-group-item clearfix">
            <div class="col-md-4 avatar">
                <b> <a href="{{url_for('auth.user',username=t.comment_user.username)}}">
                    {{t.comment_user.displayname}} </a> </b> · {{moment(t.date).fromNow()}}
            </div>
            <div class="col-md-8 comment-text">


                {% if not t.hidden %}
                {{t.content}}
                {% else %}
                <i>This comment has been hidden.</i>
                {% endif %}

            </div>
        </li>
        {% endfor %}
    </ul>

</div>

<br>
{% endif %}

{% endif %}

{% if current_user.is_authenticated %}

<form action="" method="post" class="form-controls">
    <div>
        <table>
            {{ render_field(form.content, class_="form-control", size=50) }}
            {{form.hidden_tag()}}
            <tr class="submit">
                <td></td>
                <td>
                    <button id="commentadd-submit" type="submit" class="btn btn-primary">Post comment</button>
                </td>
            </tr>
        </table>
    </div>
</form>


{% else %}

Please signup or login to comment.


{% endif %}
