{% extends "base.html" %}

{% block title %}
{{current_user.displayname}} · Delete post
{%  endblock %}

{% block content %}
    <section>
        <h1 style="clear:both">Deletion confirmation</h1>



        <form action="" method="post" class="form-controls">
            <span style="color:red"><p>Are you sure you want to delete this post?</p>
                <p>Note that this will remove all the comments linked to the post as well.</p></span>
            <br><br>
            <a href="{{ url_for('blog.author', username=current_user.username) }}">
                <button type="button" class="btn btn-default">No, take me out of here</button>
            </a>

            <button type="submit" class="btn btn-default" id="confirmdelete">Yes, delete it</button>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
        <br>
        <hr>
        <br>
        {% include "blog/post.html" %}
    </section>
{% block search %}
{% endblock %}

{% endblock %}

{% block sidebar %}
{% endblock %}

