{% extends "base.html" %}

{% block title %}
Posts by {{ user.displayname }}
{%  endblock %}

{% block content %}
<article>
	<header>
        <h2>Posts by <b>{{ user.displayname }}</b></h2>
        <span><br></span>

            {% if user.posts.count() > 0 %}
                {% with posts=user.posts %}
                    {% include "blog/post_list.html" %}
                {% endwith %}
            {% else %}
                This user has not added any posts yet.
            {% endif %}

	</header>

</article>
{% endblock %}
